table {
    table-layout: fixed; /* задает алгоритм использования макета таблицы.
       fixed - Фиксированный алгоритм макета таблицы 
    */
    border-spacing: 1px; /*Задаёт расстояние между границами ячеек в таблице. */
}
 
/* ширина заголовка*/
.tbl-header table {
    width: 100%;
}
 
/* ширина основной части*/
.tbl-content table {
    width: 101.5%;
}
 
/* border + padding - это замена свойства cellpadding, которое 
    определяет расстояние между границей ячейки и её содержимым. 
    Этот атрибут добавляет пустое пространство к ячейке, увеличивая тем самым её размеры.*/
th {
    border: 1px solid blue;
    padding: 10px 0; /*Первое значение устанавливает 
        поля от верхнего и нижнего краёв, 
        второе — от левого и правого.*/
    text-align: center; /* по центру*/
    font-weight: 800;
    font-size: 15px;
    color: #1365d7;
    text-transform: uppercase; /*заглавные буквы*/
}
 
 
 
/*блок ячеек заголовка*/
.tbl-header {
    background: #ceea19;
    overflow-x: auto;
}
 
/* тело таблицы*/
.tbl-content {
    height: 300px;
    overflow-x: auto; /*Горизонтальная полоса прокрутки добавляется только
         при необходимости.*/
    margin-top: 0px;
    border: 1px solid #9797e8; /*рамка блока, в котром находится основная 
        часть таблицы */
}
 
 
 
/* Стилизация ячеек в таблице (в информационной части)*/
td {
    border: 1px solid blue;
    padding: 10px 0; /*Первое значение устанавливает 
        поля от верхнего и нижнего краёв, 
        второе — от левого и правого.*/
    text-align: left; /* выранивания по горизонатали - по левой стороне*/
    vertical-align: middle; /* выранивания по вертикали - по середине*/
    font-weight: 600;
    font-size: 15px;
    color: #808080;
}